body {    
    background-color: #1a1a2e;
    color: #ccc;
}

h1, h2, h3, h4, h5, h5 {
    color: #f5b645;
}

p {
    color: #ccc;
}

button {
    background-color: #f5b645 !important;
}

button:hover{
    background-color: #1a1a2e !important;
    border: 1px solid #f5b645 !important;
    color: #f5b645  !important;
}

.login div.rounded-5 {
    border:1px solid #f5b645 !important;
    background-color: rgba(245, 182, 69, 0.1);
}

.login h1 {
    font-weight: bold;
}

.login .form-text {
    color: #ccc;
}